name: Failed builds

on:
  repository_dispatch:
    types: [failed-build]

permissions: {}

env:
  PR_NUMBER: ${{ github.event.client_payload.pr_number }}

jobs:
  comment:
    name: Write comment on PR
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea
        with:
          script: |
            const { PR_NUMBER } = process.env;

            github.rest.issues.createComment({
              issue_number: PR_NUMBER,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Site build failed. For Timescale internal contributors, check the logs in the web-documentation repo to see the failure reason. For help, contact the docs team.'
            })
