name: Check Markdown links

on: pull_request

permissions:
  contents: read

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@5c5dfc0ac2e225883c0e5f03a85311ec2830d368
      with:
        base-branch: latest
        check-modified-files-only: 'yes'
        config-file: 'mlc_config.json'
