name: Linting
on: [push]

jobs:
  prose:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Vale
      uses: errata-ai/vale-action@v2
      with:
        onlyAnnotateModifiedLines: true
        # config: https://raw.githubusercontent.com/errata-ai/vale/master/.vale.ini
        # styles: |
        #   https://github.com/errata-ai/Google/releases/latest/download/Google.zip
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      continue-on-error: true