name: Linting

on: push

jobs:
  prose:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Vale
      uses: errata-ai/vale-action@v2
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
